<div>
<div id="movies-page" *ngIf = "display">
    <div id="user" >
        <h3>{{'Hello ' + user + '!'}}</h3>
        <h2>Bringing you the most authentic movie information available!</h2>
    </div>
    <div id="display-board">
        <div id="movie-card">
            
                <div id="per-movie" *ngFor = "let movie of movieList; let i = index" >
                    
                    <ul>                        
                        <li><img [src]="movie.img" [alt] = "movie.name"></li>
                        <li>{{'Name: ' + movie.name}}</li>
                        <li><strong>{{movie.rating}}</strong></li>
                        <li>{{movie.category}}</li>
                        <li>{{movie.actor}}</li>
                        <li><img *ngIf = "movie.award" [src]="movie.award" alt="award" [style.width.px] = "awardDimension" [style.height.px] = "awardDimension"></li>
                        <li><button id="descDetail" (click) = "showDesc(i-1)">Movie Description</button></li>
                    </ul>
                        
                </div>

                
            </div>
    </div>    
</div>


<div id="place">
<button id="close-bttn" (click) = "closeThis()" *ngIf = "detailDesc"><strong>X</strong></button>

<div id="display_desc" *ngIf = detailDesc>
    <div id="desc">
        <app-movie-description [description] = "movieList[mIndex].description"></app-movie-description>
    </div>
</div>
</div>
</div>