#movie-card{
    float: left;
    width: 100%;
}

#per-movie{
    float: left;
    width: 500px;
    height: 450px;    
    overflow: scroll;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    
}

li{
    list-style-type: none;
    word-wrap:normal;
}