<div id="movies-page" *ngIf = "display">
    <div >{{'Hello ' + user}}</div>
    <div id="display-board">
        <div id="movie-card">
            
                <div id="per-movie" *ngFor = "let movie of movieList; let i = index" >
                    
                    <ul>                        
                        <li><img [src]="movie.img" [alt] = "movie.name"></li>
                        <li>{{'Name: ' + movie.name}}</li>
                        <li>{{movie.rating}}</li>
                        <li>{{movie.category}}</li>
                        <li>{{movie.actor}}</li>
                        <li><img [src]="movie.award" alt="award" [style.width.px] = "awardDimension" [style.height.px] = "awardDimension"></li>
                        <li>{{movie.description}}</li>
                    </ul>
                    
                </div>
            
            </div>
    </div>
</div>