#movie-card{
    float: left;
    width: 100%;
    text-align: center;
    padding: auto;
}

#user{
    float:left;
    width: 95%;
    background-color: white;
    color: green;
    padding-left: 64px;
    padding-right: 20px;
    border-bottom: green solid 3px;
}

h3{
    float: right;
}

h2{
    color: green;

}



#per-movie{
    float: left;
    width: 350px;
    height: 500px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    
}

li{
    list-style-type: none;
    word-wrap:normal;
    color: green;
}
#close-bttn{
    position: fixed;
    top: 5px;
    left: 48%;
    font: inherit;
    font-size: 25px;
    font-weight: 500;
    
}

#place{
    position: fixed;
    top: 0px;
    left: 0px;
}

#display_desc{
    position: fixed;
    left: 0px;
    top: 35px;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.63);
}
#desc{
    margin: auto;
    margin-top: 30px;
    /* float: left; */
    width: 600px;
    /* height: 500px; */
    /* display: none; */
    margin-bottom: 10px;
    background-color: snow;
    font: inherit;
    text-align: justify;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: green;
}

#descDetail{
    border: darkgreen;
    background-color: green;
    color: whitesmoke;
    font: inherit;
}