#nav{
    width: 98.8%;
    height: auto;
    float: left;
    background-color:green;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-align: right;
}

table{
    width: fit-content;
    float: right;  
}

td{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
td:hover{
    background-color: rgb(3, 172, 3);
}
a{
    text-decoration: none;
    color: whitesmoke;
}
